
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    font-family: 'Helvetica';
}

a.title {
    text-decoration: none;
    letter-spacing: 2.2rem;
    text-align: center;
    color: white;
    text-shadow: #555 2px 2px 7px;

    h1 {
        font-size: 8rem;
    }
}

.card {
    color: #666;
}
